<section class="aboutus">
    <div class="row">
        <div class="about_container tk_container tk-grid">
            <div class="aboutus_data">
                <div class="column_aboutus">
                  <h1 class="aboutus_title">What is Optimen?</h1>
                  <p>Optimen is a Mexican Software Development company that provides resources management and optimization services to different industries. The company was designated and approved as an International Service Contractor for Jeppesen and Boeing.</p>
                </div>                   
            </div>
            <div class="aboutus_data">
              <div class="column_img">
                <!--<img src="https://cdn.milenio.com/uploads/media/2017/03/30/oscar-rodriguez-yanez-director-optimen.jpeg" alt="">-->
              </div>
            </div>
        </div>
    </div>
</section>

<section class="mision section tk-container">
    <div class="row">
        <div class="mision_container tk-grid">
          <div class="mision_data">
            <div class="column_misionh2">
            <h2>Mission</h2>
          </div>
            <div class="column_misionp">
              <p>Support and facilitate Air Lines around the world to maintain reliable and sustainable operations through Technology, Innovation and living our Values.</p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="vision section tk-container">
    <div class="row">
      <div class="vision_container tk-grid">
        <div class="vision_data">
          <div class="column_visionh3">
              <h3>Vision</h3>
          </div>
          <div class="column_visionp">
              <p>To be the First option in Software, Technology and Innovation services for the global Airlines in the area of Aeronautical operational control.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="values section tk-container">
    <div class="row">
      <div class="values_container tk-grid">
        <div class="values_data">
          <div class="column_valuesh4">
            <h4>Values</h4>
          </div>
          <div class="column_valuesp">
            <p>Trustworthy <br> Respect <br> Integrity <br> Teamwork <br> Innovation</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="airline">

    <div class="row">

        <div class="airline_container tk_container tk-grid">
          <div class="airline_data">
            <h5 class="section_title">Airline Experience</h5>
          </div>
        </div>

        <div class="airline_container">

            <div class="column1">
                <div class="aboutcard">
                  <!--<img src="https://images.pexels.com/photos/2983126/pexels-photo-2983126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="airline_img" class="airline_img""> -->
                  <p>Associated with long experience in the Airline Industry with high trust and tight relation with commercial airlines and industry key players.</p>
                </div> 
            </div>
                
            <div class="column2">
                <div class="aboutcard">
                    <!--<img src="https://images.pexels.com/photos/731217/pexels-photo-731217.jpeg"> -->
                    <p>Broad experience developing software in real Airline Operational Control Systems and implementation of Optimization Software.</p>
                </div> 
            </div>
            
            <div class="column3">
                <div class="aboutcard">
                    <!--<img src="https://images.pexels.com/photos/1034669/pexels-photo-1034669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> -->
                    <p>Strong Project Management following the industry best practices.</p>
                </div>
            </div>
          
          </div>
      </div>
  
    </section>


    <section class="story section tk-container">

      
        <div class="row">
  
            <div class="story_container ">
          
                <div class="story_data">
                  <h5 class="section_title">Our Story</h5>
                </div>

            <div class="column01">
              <ul>
                <li>
    
                  <h1 class="title">The beginning</h1>
                  <p>Foundation of Optimen and first business contract with Jeppesen Systems AB in Sweden.</p>
  
                  <span class="circle"></span>
  
                </li>
                <li>
  
                  <h1 class="title">2006</h1>
                      <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">First support team</h1>
                  <p>Optimen installs its first consulting and support team in Mexicana de Aviación, S. A. B. de C. V.</p>
  
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">2009</h1>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">On the big league</h1>
                  <p>Optimen was designated and approved as an International Service Contractor for Jeppesen and Boeing.</p>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">2014</h1>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">Our Opening</h1>
                  <p>Opening of our offices in the city of León, Guanajuato.</p>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">2016</h1>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">Optimen and the Aerospace Cluster</h1>
                  <p>Integration of Optimen to the " Aerospace Cluster in Guanajuato".</p>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">2017</h1>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">First South American Client</h1>
                  <p>We obtained our first Client in South America, LATAM.</p>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">2017</h1>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">Guanajuato Talent</h1>
                  <p>We obtained the "Talent Guanajuato" Recognition , by the Government of the State of Guanajuato.</p>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">2017</h1>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">Go Innovation Forum</h1>
                  <p>Participation as speakers in the Go Innovation Forum "Optimen - Disruptive Business Model of Guanajuato".</p>
                  <span class="circle"></span>
  
                </li>
                <li>
    
                  <h1 class="title">2018</h1>
                  <span class="circle"></span>
  
                </li>
              </ul>
  
            </div>
  
  
            <div class="column 02">
  
            </div>
  
                
              <div class="column03">
                  <ul>
                    
                    <li>
    
                      <h1 class="title">Go Innovation Forum</h1>
                      <p>Participation as speakers in the Go Innovation Forum "Optimen - Disruptive Business Model of Guanajuato".</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2019</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">Other Relationships</h1>
                      <p>Integration of Optimen to the Digital Cluster "GTO Tech", as members and active participants.</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2019</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">Innovation Hub Optimen</h1>
                      <p>Grand opening of the “Innovation Hub Optimen”, a technological innovation center dedicated to developing the skills of the work team.</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2019</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">Going global</h1>
                      <p>Obtains its first European client.</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2020</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">UTNG relationship</h1>
                      <p>Signing of a collaboration agreement with the Universidad Tecnológica del Norte de Guanajuato (UTNG) for the development of innovation projects.</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2020</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">Aeroclúster Querétaro</h1>
                      <p>Integration to the "Aeroclúster Querétaro", as members and active participants.</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2020</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">CANIETI-CLUTIG</h1>
                      <p>Integration to the "CANIETI-CLUTIG", as members and active participants.</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2020</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">Distinctive "Marca GTO"</h1>
                      <p>Obtaining the badge "Marca GTO"</p>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">2021</h1>
                      <span class="circle"></span>
    
                    </li>
                    <li>
    
                      <h1 class="title">EDUCAFIN EVOLUCIONA</h1>
                      <p>Signing of a Collaboration Agreement with Educafin Evoluciona to promote the employability of young people from Guanajuato in the aeronautical sector.</p>
                      <span class="circle"></span>
    
                    </li>
                  </ul>
  
                </div>
              </div>
    
          </div>
      </section>
  