<!--
<header class="Slider">
  <h2>Welcome to Optimen</h2>
  <p>Unique team of Resources Management and Optimization Experts and passionate Software Developers.</p>
  
</header>

<div class="card-purpose">
  <div>
    <h3>Our Porpuse</h3>
    <p>Streamline the world mobility</p>
  </div>
</div>
<div class="card-global">
  <div>
    <h4>A World Class Global Enterprise</h4>
    <p>Mexican Company with the following experience since 2006:
      Resource Optimization
      Consultancy and Configuration Support Services
      IT Software Solutions Development</p>
  </div>
</div>



<header class="capabilities">
  <div style="text-align: center;">
         <h1>Our Capablities</h1>
    
  </div>
  <ul>
      <div>
        <li>
              <a>..................................................</a>
              <h4>Airline Operations Expertise</h4>           
        </li>
      </div>
  
      <div>
        <li>
              <a>..................................................</a>
              <h4>Analytics / Analysis Expertise</h4>          
        </li>
      </div>
      
      <div>
        <li>
              <a>..................................................</a>
              <h4>Software Architecture</h4>          
        </li>
      </div>

  </ul>

  <ul>

      <div>
          <li>
              <a>..................................................</a>
                <h5>Consulting & Business Development</h5>     
          </li>
      </div>

      <div>
        <li>
              <a>..................................................</a>
              <h5>New Products and R&D</h5>     
        </li>
      </div>
  
      <div>
        <li>
              <a>...................................................</a>
              <h5>High Technology Expertise</h5>     
        </li>
      </div>

  </ul>      


    <ul>
    <div>
        <li>
                <a>...................................................</a>
                <h6>Consulting & Business Development</h6>     
        </li>
    </div>

    <div>
      <li>
              <a>....................................................</a>
              <h6>New Products and R&D</h6>     
      </li>
    </div>

      <div>
        <li>
                <a>...................................................</a>
                <h6>High Technology Expertise</h6>    
        </li>
      </div>
    </ul>    
  


<header class="certifications">
<div style="text-align: center;">
       <h1>Awards and Certifications</h1>
</div>
<div>
<ul>
  <li>
        <a>..................................................</a>
        <h2>Airline Operations Expertise</h2>           
  </li>
</div>

<div>
  <li>
        <b>.............................................................</b>
        <h2>Analytics / Analysis Expertise</h2>          
  </li>
</div>
<ul>
  <li>
        <c>....................................................................,,,,,,,,,,,......</c>
        <h2>Airline Operations Expertise</h2>           
  </li>
</div>

<div>
  <li>
        <d>........................................................................</d>
        <h2>Analytics / Analysis Expertise</h2>          
  </li>
</div>
</header>

<header class="events">
<ul>
  <li>
    <figure>
      <img src="https://i2.wp.com/boletines.guanajuato.gob.mx/wp-content/uploads/2022/05/FOTO-2.jpeg?strip=info&w=1024&ssl=1" alt="">
        <div class="capa">
          <h3>Forogo</h3>
          <p>Jul 06, 2022, 4:30 PM
            León, Blvrd Francisco Villa 531, 
            Zona Recreativa y Cultural, 37500 
            León, Gto., México
          </p>
        </div>
    </figure>
  </li>
</ul>

<ul>
  <li>
    <figure>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fclase-maestra-de-escritura-mano-con-fondo-concepto-marcador-224236574.jpg&imgrefurl=https%3A%2F%2Fes.dreamstime.com%2Fphotos-images%2Fmasterclass.html&tbnid=rGeHbmINGvFS9M&vet=12ahUKEwi95Z_Osa79AhX-2skDHew9AUEQMygcegUIARCrAg..i&docid=oSUVUHbNdp61JM&w=800&h=533&q=masterclass%20&ved=2ahUKEwi95Z_Osa79AhX-2skDHew9AUEQMygcegUIARCrAg" alt="">
        <div class="capa">
          <h3>Volando Alto, Cruza Fronteras y Lleva tu Negocio al Mundo</h3>
          <p>Dec 03, 2021, 4:00 PM
            Evento Virtual
          </p>
        </div>
    </figure>
  </li>
</ul>
</header>


<script src="https://unpkg.com/scrollreveal"></script>
-->
