<header class="Slider">
    <h2>Welcome to Optimen</h2>
    <p>Unique team of Resources Management and Optimization Experts and passionate Software Developers.</p>
  </header>

  <div class="card-purpose">
    <div>
      <h3>Our Porpuse</h3>
      <p>Streamline the world mobility</p>
    </div>
  </div>
  <div class="card-global">
    <div>
      <h4>A World Class Global Enterprise</h4>
      <p>Mexican Company with the following experience since 2006:
        Resource Optimization
        Consultancy and Configuration Support Services
        IT Software Solutions Development</p>
    </div>
  </div>