<h1>Innovation Hub</h1>
<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class="row">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='https://images.pexels.com/photos/1456268/pexels-photo-1456268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </div>
        <div class="content">
            <h2>Hannover Messe</h2>
            <p>Optimen family present at "Industrial Transformation mexico, Hannover Messe"
                HANNOVER MESSE is the most important international platform and hot spot for industrial transformation - with excellent innovations or usual products.</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </div>
        <div class="content">
            <h2>AWS Mentefactura GTO Challenge</h2>
            <p>Hackathon organized by the alliance between AWS, Optimen, Educafin, IdeaGTO, SEG and GAP with the purpose that students, Guanajuato talent, will execute innovative projects aimed at improving airport services.</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='https://images.pexels.com/photos/847483/pexels-photo-847483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </div>
        <div class="content">
            <h2>ANA Avatar XPrize</h2>
            <p>Optimen teamed up with Inbiodroid are working together on ANA Avatar XPRIZE challenge that aims to create an Avatar system that can transport human presence to a remote location in real time.</p>
        </div>
    </div>
</div>

<!-- OPCION 2 -->

<!--
<div class="container d-flex align-items-center justify-content-center flex-wrap">
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="https://images.pexels.com/photos/3601422/pexels-photo-3601422.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Hannover Messe</h3>
                    <p class="fs-6 text-white">Optimen family present at "Industrial Transformation mexico, Hannover Messe"
                        HANNOVER MESSE is the most important international platform and hot spot for industrial transformation - with excellent innovations or usual products.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">AWS Mentefactura GTO Challenge</h3>
                    <p class="fs-6 text-white">Hackathon organized by the alliance between AWS, Optimen, Educafin, IdeaGTO, SEG and GAP with the purpose that students, Guanajuato talent, will execute innovative projects aimed at improving airport services.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="https://images.pexels.com/photos/573238/pexels-photo-573238.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">ANA Avatar XPrize</h3>
                    <p class="fs-6 text-white">Optimen teamed up with Inbiodroid are working together on ANA Avatar XPRIZE challenge that aims to create an Avatar system that can transport human presence to a remote location in real time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
