<h1>Innovation Hub</h1>
<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='https://images.pexels.com/photos/1456268/pexels-photo-1456268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </div>
        <div class="content">
            <h2>Hannover Messe</h2>
            <p>Optimen family present at "Industrial Transformation mexico, Hannover Messe"
                HANNOVER MESSE is the most important international platform and hot spot for industrial transformation - with excellent innovations or usual products.</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </div>
        <div class="content">
            <h2>AWS Mentefactura GTO Challenge</h2>
            <p>Hackathon organized by the alliance between AWS, Optimen, Educafin, IdeaGTO, SEG and GAP with the purpose that students, Guanajuato talent, will execute innovative projects aimed at improving airport services.</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'>
            <img src='https://images.pexels.com/photos/847483/pexels-photo-847483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </div>
        <div class="content">
            <h2>ANA Avatar XPrize</h2>
            <p>Optimen teamed up with Inbiodroid are working together on ANA Avatar XPRIZE challenge that aims to create an Avatar system that can transport human presence to a remote location in real time.</p>
        </div>
    </div>
</div>
