<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
<body>
  <div class="container">
      <nav class="nav-main">
        <img src="optimen.png" alt="Optimen Logo" class="nav-brand">
        <ul class="nav-menu">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/customers">Customers</a>
          </li>
          <li>
           <a href="/news">News</a>
          </li>
          <li>
            <a href="/innovation">Innovation</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
<router-outlet></router-outlet>
</body>
<footer class="pie-pagina">
    <div class="grupo1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="src/Logo.png" alt="Logo Optimen">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Our location</h2>
        <p>Av. León 119 | León, Guanajuato | Mexico</p>
        <p>Phone: +52 (477) 7173339 | Email: info@optimen.com.mx</p>
      </div>
      <div class="box">
        <h2>Our social networks</h2>
        <div class="social">
          <a href="" class="fa fa-facebook"></a>
          <a href="" class="fa fa-linkedin"></a>
          <a href="" class="fa fa-twitter"></a>
        </div>
      </div>
    </div>
    <div class="grupo2">
      <small>&copy; 2023 <b>Optimen</b> - All rights reserved </small>
    </div>
</footer>